.card {
    background-color: #184267;
    border-radius: 10px;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.308);
    /* margin: 0.2rem 0;
    padding: 0 0.5rem; */
}
@media (max-width: 450px) {
    .card{
        margin: 0.2rem 2rem;
        /* width: 50%; */
    }
}